# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Streamlit secrets
.secrets.toml
.env

# Base de données locales ou sensibles
database.py
base_de_donnees.py
*.sqlite
*.db

# IDE / Editor
.vscode/
.idea/
